# Chisel code owners
# These users are automatically requested for review on every PR.
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @Devdannnny
